<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"
    type="text/css">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/style.css">    
<title>Document</title>

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand ml-auto" href="#">
      <img src="/images/Final_Logo (2)-1.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item mx-auto">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
      <header>

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/RCAhiGJsUUE/1920x1080')">
              <div class="carousel-caption">
                <h3>Work with US</h3><br><br><br>
                <p>Gain Experience and knowledge while working with us</p>
              </div>
            </div>
            <div class="carousel-item" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1920x1080')">
              <div class="carousel-caption">
                <h3>Flexibility</h3><br><br><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam dolorem voluptate maiores est quidem magni nulla la</p>
              </div>
            </div>
            <div class="carousel-item" style="background-image: url('https://source.unsplash.com/lHGeqh3XhRY/1920x1080')">
              <div class="carousel-caption">
                <h3>Enhance and Expand</h3><br><br><br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam modi corrupti dolores ad hic ipsam dolorum deleniti doloribus harum. Mollitia, expedita sequi obcaecati illum voluptatum culpa molestias commodi enim.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </header>
      <body>
        
      
      <!-- Page Content -->

      <div class="container">
        <h1 class=" font-weight-bold">Find Jobs</h1>
        <div class="row">
          <div class="col-md-14">
            <div class="search-box">
              <div class="icon"><i class="fa fa-search"></i></div>
              <input type="text" placeholder="Search...">
              <select>
                <option value="">Work Experience</option>
                <option value="1">1 Year</option>
                <option value="2">2 Years</option>
                <option value="3">3 Years</option>
                <option value="4">4 Years</option>
                <option value="5">5 Years</option>
                <option value="6">6+ Years</option>
              </select>
              <button>Search</button>
            </div>
          </div>
        </div>
      <section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- Filter Section -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Filter Jobs</h5>
            <div id="filter-options">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="filter" id="filter-all" value="all" checked>
                <label class="form-check-label" for="filter-all">
                  All
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="filter" id="filter1" value="filter1">
                <label class="form-check-label" for="filter1">
                  Filter 1
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="filter" id="filter2" value="filter2">
                <label class="form-check-label" for="filter2">
                  Filter 2
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="filter" id="filter3" value="filter3">
                <label class="form-check-label" for="filter3">
                  Filter 3
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <!-- Job Cards Section -->
        <div class="row" id="job-cards">
          <!-- Job cards will be dynamically added here -->
        </div>
      </div>
    </div>
  </div>
  <script>
    // Sample job data
    const jobs = [
      { title: "Frontend developer", description: "A front-end web developer is responsible for implementing visual elements that users see and interact with in a web application", filter: "filter1" },
      { title: "Job Title 2", description: "Job description 2", filter: "filter2" },
      { title: "Job Title 3", description: "Job description 3", filter: "filter1" },
      { title: "Job Title 4", description: "Job description 4", filter: "filter3" },
      { title: "Job Title 5", description: "Job description 5", filter: "filter2" },
      { title: "Job Title 6", description: "Job description 6", filter: "filter3" }
    ];

    // Function to render job cards
    function renderJobCards(jobs) {
      const jobCardsContainer = document.getElementById("job-cards");
      jobCardsContainer.innerHTML = "";

      jobs.forEach(job => {
        const cardColumn = document.createElement("div");
        cardColumn.className = "col-md-6";

        const jobCard = document.createElement("div");
        jobCard.className = "card rounded-lg shadow-lg bg-white p-4 max-w-xs mx-auto";

        const header = document.createElement("header");
        header.className = "flex mb-4";

        const img = document.createElement("img");
        img.className = "h-12 rounded-lg";
        img.src = "";
        img.alt = "Facebook";

        const headerContent = document.createElement("div");
headerContent.className = "ml-4";

const title = document.createElement("p");
title.className = "text-gray-900 font-semibold";
title.textContent = job.title;

const location = document.createElement("p");
location.className = "text-gray-600 text-sm mt-1";
location.textContent = job.location;

headerContent.appendChild(title);
headerContent.appendChild(location);
header.appendChild(img);
header.appendChild(headerContent);

const description = document.createElement("p");
description.className = "mb-4 text-gray-600 text-sm leading-relaxed";
description.textContent = job.description;

const salary = document.createElement("p");
salary.className = "text-gray-900 font-semibold text-sm";
salary.textContent = "$129,000 a year";

jobCard.appendChild(header);
jobCard.appendChild(description);
jobCard.appendChild(salary);

cardColumn.appendChild(jobCard);
jobCardsContainer.appendChild(cardColumn);
});
}

// Function to handle filter events
function handleFilterChange(filter) {
const filteredJobs = jobs.filter(job => job.filter === filter || filter === "all");
renderJobCards(filteredJobs);
}

// Initial rendering
renderJobCards(jobs);

// Event listener for filter change
const filterOptions = document.querySelectorAll("#filter-options input[type='radio']");
filterOptions.forEach(option => {
option.addEventListener("change", function() {
handleFilterChange(this.value);
});
});
</script>

</section>



        </section>
        
      
      <section class="h-100 bg-light">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
              
                <div class="row g-0">
                  
                  <div >
                    <div class="card-body p-md-5 text-black">
                      <h3 class="mb-5 text-uppercase">Job Application</h3>
                      <h4>Please complete the form below to work with us</h4>
      
                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" id="form3Example1m" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Example1m">First name</label>
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" id="form3Example1n" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Example1n">Last name</label>
                          </div>
                        </div>
                      </div>
      
                      <div class="row">
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="email" id="form3Example1m1" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Example1m1">E-Mail</label>
                          </div>
                        </div>
                        <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="number" id="form3Example1n1" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Example1n1">Phone Number</label>
                          </div>
                        </div>
                      </div>
      
                      <div class="form-outline mb-4">
                        <input type="text" id="form3Example8" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example8">Address</label>
                      </div>
      
                      <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
      
                        <h6 class="mb-0 me-4">Gender: </h6>
      
                        <div class="form-check form-check-inline mb-0 me-4">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                            value="option1" />
                          <label class="form-check-label" for="femaleGender">Female</label>
                        </div>
      
                        <div class="form-check form-check-inline mb-0 me-4">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                            value="option2" />
                          <label class="form-check-label" for="maleGender">Male</label>
                        </div>
      
                        <div class="form-check form-check-inline mb-0">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                            value="option3" />
                          <label class="form-check-label" for="otherGender">Other</label>
                        </div>
      
                      </div>
      
                      <div class="row">
                        <div class="col-md-6 mb-4">
      
                          <select class="select">
                            <option value="1">State</option>
                            <option value="2">Option 1</option>
                            <option value="3">Option 2</option>
                            <option value="4">Option 3</option>
                          </select>
      
                        </div>
                        <div class="col-md-6 mb-4">
      
                          <select class="select">
                            <option value="1">City</option>
                            <option value="2">Option 1</option>
                            <option value="3">Option 2</option>
                            <option value="4">Option 3</option>
                          </select>
      
                        </div>
                      </div>
      
                      <div class="form-outline mb-4">
                        <input type="text" id="form3Example9" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example9">DOB</label>
                      </div>
      
                      <div class="form-outline mb-4">
                        <input type="text" id="form3Example90" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example90">Pincode</label>
                      </div>
      
                      <div class="form-outline mb-4">
                        <input type="text" id="form3Example99" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example99">Course</label>
                      </div>
      
                      <div class="form-outline mb-4">
                        <input type="text" id="form3Example97" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example97">Email ID</label>
                      </div>
      
                      <div class="d-flex justify-content-end pt-3">
                        <button type="button" class="btn btn-light btn-lg">Reset all</button>
                        <button type="button" class="btn btn-warning btn-lg ms-2">Submit form</button>
                      </div>
      
                    </div>
                  </div>
                </div>
           
            </div>
          </div>
        </div>
      </section>

      </body>
  
<footer class="bg-dark text-center text-white w-100">
  <section class="w-100">

  
  
  <div class="container p-4 w-100">
    
    <section class="mb-4">
      
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

    
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
  
    <section class="">
      <form action="">
       
        <div class="row d-flex justify-content-center">
         
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          
          <div class="col-md-5 col-12">
            
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email address</label>
            </div>
          </div>
          
          <div class="col-auto">
            
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          
        </div>
       
      </form>
    </section>
    
    
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
   
</footer>
<script>
  var jobOptions = document.getElementById("job-options").children;
var jobDetails = document.getElementById("job-details").children;

for (var i = 0; i < jobOptions.length; i++) {
jobOptions[i].addEventListener("click", function() {
for (var j = 0; j < jobOptions.length; j++) {
jobOptions[j].classList.remove("active");
jobDetails[j].classList.remove("active");
}
this.classList.add("active");
document.getElementById(this.dataset.job).classList.add("active");
});
}

</script>